@font-face {
    font-family: GenYoGothicTW;
    src: url('~assets/fonts/GenYoGothicTW-Medium.ttf');
    font-family: Broadwell;
    src: url('~assets/fonts/Broadwell-Standard.otf');
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: GenYoGothicTW;
    font-style: normal;
    font-weight: normal;
    // font-family: 'PingFang TC';
    // font-weight: normal;
    // font-stretch: normal;
    // font-style: normal;
    // line-height: normal;
    // letter-spacing: normal;
}

#__nuxt {
    width: 100%;
}

a {
    text-decoration: none;
}

.object-fit {
    width: 100%;
}

.observer {
    width: 100px;
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    background: white;
    border: 1px solid red;
    z-index: 99999;
    color: black;

    text-align: center;
    line-height: 50px;
}

.hide_text {
    opacity: 0.1;
    // add transition to text that want to fade in
    transition: all 0.5s ease;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
